<!DOCTYPE html>
<html lang="en">
<head>
  <title>Independence Day Wishes</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Independence Day wishes are here!">
  <meta property="og:title" content="Independence Day Wishes">
  <meta property="og:description" content="Independence Day wishes are here!">
  <meta property="og:image" content="{{url_for('static',filename='flag.jpg')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type = "text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body> 
  {% block content %}
  {% endblock %}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
