{% extends "root.html" %}
{% block content %}
<div class="container">
	<div class="text-center">
		<h3>Happy Independence Day</h3><br><br>
		<div class="w3-container w3-lobster font-effect-brick-sign">
			<h2 class="w3-xxxlarge">{{username}}</h2><br><br>	
		</div>
		<h3>wishes you</h3>
		<img src="/static/flag.jpg"><br><br>
		<button class="btn btn-primary">
			<i class="fa fa-hand-o-right"></i><a href="/" class="cw">Click here to create your page</a>
		</button>
	</div>
<div class="container">
{% endblock %}
